/*reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
 
 /*background-image:url('../img/bg.jpg');
 background-size: 100vw 100vh;*/
 font-family:Arial;

}

header:before {
  background-size: 100vw 100vh;
  background-image:url('../img/bg.jpg');
  filter: grayscale(40%);
  bottom: 0;
  content:"";
  left: 0;
  opacity:0.9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;   
}

header{
  height: 100vh;
  display: flex;
}

.menu{
  background-color:#87CEEB;
}

.menu li{
  list-style:none;
}

.menu ul{
  display:flex;
  justify-content: space-around;
}

.menu a{
  text-emphasis: circle;  
   color: #8A2BE2	;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.site-subtitle,
.site-title{
  text-align:center;
  color:#FF1493;
}

.site-subtitle{
  font-style:italic;
}

.img-portfolio{
  height: 180px;
  width: 180px;
}
