/*reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
 
 /*background-image:url('../img/bg.jpg');
 background-size: 100vw 100vh;*/
 font-family:Arial;
 height: 100vh;
 font-size: 12px;
 background-color:#87CEEB;
}


@media (min-width: 400px) {
  body{
    font-size: 18px;
  }
}


@media (min-width: 600px) {
  body{
    font-size: 22px;
  }
}

header:before {
  background-size: 100vw 100vh;
  background-image:url('../img/bg.jpg');
  filter: grayscale(40%);
  bottom: 0;
  content:"";
  left: 0;
  opacity:0.9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;   
}

header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  background-color:#87CEEB;
  position: fixed;
  width: 100vw;
  top: 0px;
}

.menu li{
  list-style:none;
}

.menu ul{
  display:flex;
  justify-content: space-around;
}

.menu a{
   /*text-emphasis: circle;*/  
   color: #8A2BE2	;
   display: block;
   padding: 10px 15px;
   transition: 2s;
}

.menu a:hover{
  background-color:purple;
  color:white;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.outra-fonte,
.site-subtitle,
.site-title{
  text-align:center;
  color:rgb(230, 7, 137);
}

.site-subtitle{
  font-style:italic;
}

.img-portfolio{
  height: 180px;
  width: 240px;
  object-fit: cover;
  transition: transform 500ms ;
}

.img-portfolio:hover{
  transform: scale(1.8);
  transform: scale(1.8) ;
}

/*
.img-portfolio:hover{
  transform: scale(1.8);
  transform: scale(1.8) rotate(-2deg);
}
*/


.outra-fonte,
.site-title{
  font-family: 'Monoton', cursive;
}

.sobre,
.contato,
.sessao-portfolio{
background-color: #ADD8E6;
padding: 2em;
min-height: 100vh;

}


@media(min-width:1200px){
  .container{
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;   
  }
}


.sobre h2,
.contato h2 ,
.sessao-portfolio h2{
margin-bottom: 0.7em;
color: #FF00FF	;
font-size: 2em;;
}

.sobre .avatar img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  clip-path: polygon(50% 0%,100% 25%,100% 75%,47% 100%,0% 75%, 0% 25%);
}


.sobre p {
  color:darkblue;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a{
   color:palevioletred;
}
.sobre a:hover{
   background-color:rebeccapurple;
   color:white;
}

.sobre .avatar{
  float:right;
  margin-left: 1em;
}

.sessao-portfolio .grid{
  display:grid;
  gap:2em;
}

.sessao-portfolio figure{
  text-align: center;
  padding:8px;
}

@media(min-width: 445px){
.sessao-portfolio .grid{
  grid-template-columns: 180px 180px;
}
}

@media(min-width: 768px){
  .sessao-portfolio .grid{
    display: flex;
    grid-template-columns: repeat(3,180px);
    justify-content: center;
    align-content: center;
    padding:150px;
  }
}

.contato a {
  color:#FF69B4;
  font-size: 4em;
}

.contato .icons{
  text-align: center;
}
  
.contato a:hover{
  text-decoration: none;
  text-shadow: 10px 0px 10px yellow;
  transition: 2s;
}

.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: linear 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{

    from{
        transform: scale(0.2) translateY(50vh);
        opacity: 0;
    }
    to{
      transform: scale(1) translateY(0);
      opacity: 1;
    }
}


.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}


